<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        p{
            color: red;
        }
    </style>
</head>
<body>
    <form action='create_wish/' method='post'>
        {% csrf_token %}
        <label>I wish for:
            <input type="text" name="wish">
        </label>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if 'wish' in message.tags %}
                <p>{% if messsage.tags %} 
                        class = "{{ message.tags }}"
                    {% endif %}
                {{ message }}
                </p>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <label>Description:
            <input type="text" name="description">
        </label>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                {% if 'description' in message.tags %}
                <p>{% if messsage.tags %} 
                        class = "{{ message.tags }}"
                    {% endif %}
                {{ message }}
                </p>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        <button type="submit" class="btn btn-success">Submit</button>
        <a href="/success" class="btn btn-danger btn-sm">Cancel</a>
    </form>
</body>
</html>