<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <form action = '/create' method = 'post'>
        Name: <input type='text' name='name'><br/>
        Dojo Location: 
            <select name = 'location'>
                {%for i in cities: %}
                    <option name = "{{i}}">{{i}}</option>
                {% endfor %}
            </select><br/>
        Favorite Languages: 
            <select name = 'languages'>
                {%for j in languages:  %}
                    <option name = "{{j}}">{{j}}</option>
                {% endfor %}
            </select><br/>
        Comment <textarea name = 'comment'></textarea><br/>
        <input type = 'submit' value = 'Submit'>
    </form>
</body>
</html>