<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Charged</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{request.session.name}}</td>
                <td>{{request.session.quantity}}</td>
                <td>{{request.session.total}}</td>
            </tr>
        </tbody>
    </table>
    <form action="goback/" method="post">
        {% csrf_token %}
        <button type="submit">Go Back</button>
    </form>
</body>
</html>