<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add A New User v(^.^)v</h1>
    <form action="{% url 'u' %}" method = 'post'>
        {% csrf_token %}
        <label>First Name:
            <input type = "text" name = "first_name" value = "{{get_user.first_name}}">
        </label>
        <label>Last Name:
            <input type = "text" name = "last_name" value = "{{get_user.last_name}}">
        </label>
        <label>Email:
            <input type = "text" name = "email" value = "{{get_user.email}}">
        </label>
        <input type = "hidden" name = "hidden" value = "{{get_user.id}}">
        <button type="submit">Update</button> 
    </form>
    <a href="/users/{{get_user.id}}">Show</a> | <a href="/">Go Back</a>
</body>
</html>